*{
  border: 1px solid blue;
}

body {
  background: blanchedalmond;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.a{
  display: flex;
  min-width: 95%;
  min-height: 100px;
  border: 2px dotted red;
  margin: 5px;
  text-align: center;
}


.b{
  display: flex;
  min-width: 68%;
  min-height: 400px;
  border: 2px dashed violet;
  margin: 5px;
  text-align: center;
}

.c{
  display: flex;
  min-width: 25.5%;
  height: 400px;
  border: 2px groove orange;
  margin: 5px;
  text-align: center;
}

@media (max-width: 600px){
  .a{
    min-width: 95%;
  }
  .b{
    min-width: 95%;
  }
  .c{
    min-width: 95%;
    max-height: 100px;
  }
}