*{
  /* border: 1px solid blue; */
  margin: 5px;
}

body {
  background: papayawhip;
}

.container{
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid orange; */
}

.container *{
  border: 1px solid orange;
}

.a{
  display: flex;
  width: 98%;
  height: 100px;
  text-align: center;
}


.b{
  display: flex;
  width: 72%;
  height: 200px;
  margin-right: 90px;
  text-align: center;
}

.c{
  display: flex;
  width: 23%;
  height: 200px;
}

.d{
  display: flex;
  height: 200px;
  width: 23%;
}

.e{
  display: flex;
  width: 23%;
  height: 200px;
}

.f{
  display: flex;
  min-width: 23%;
  height: 410px;
  margin: 5px;
  margin-top: -207px;
  text-align: center;
}

@media (max-width: 650px){
.a{
  height: 100px;
  width: 98%;
}

.b{
  width: 98%;
  margin-right: 0%;
}

.c{
  width: 30%;
  height: 100px;
  margin-left: 12.5px;
}

.d{
  width: 30%;
  height: 100px;
}

.e{
  width: 30%;
  height: 100px;
}

.f{
  width: 98%;
  height: 100px;
  margin-top: 0%;
}
}